* {
  align-items: center;
  margin: 0;
  padding: 0;
  place-items: stretch;
}

.article {
  background-color: #bccbde;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  height: 200px;
  text-align: center;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
  margin: 5px
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr auto 1fr;
  gap: 4px;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / -1;
  grid-row: -2;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / -1;
  grid-row: 1;
  justify-content: space-between;
}

.logo {
  justify-self: start;
}

.menu ul {
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
}

.nav {
  background-color: #FF7755;
  grid-column: 2 / -1;
  grid-row: 2;
}

.nav ul {
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.sidebar {
  align-content: stretch;
  background-color: #FF7755;
  display: grid;
  gap: 50px;
  grid-column: 1;
  grid-row: 2 / -2;
  justify-content: stretch;
}

.sidebar * {
  align-content: center;
  display: grid;
  justify-content: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

ul {
  display: grid;
  list-style: none;
}